exports.COGNITO_USERPOOL_ID = "${COGNITO_USERPOOL_ID}";
exports.COGNITO_REGION = "${AWS_DEFAULT_REGION}";
exports.COGNITO_DOMAIN="${COGNITO_DOMAIN}";
exports.DISTRIBUTION_DOMAIN="${DISTRIBUTION_DOMAIN}";
exports.JWTKEY="${JWT_SIGNATURE_SECRET}";
exports.COGNITO_JWKS = ${COGNITO_JWKS};

exports.OAUTH_PROVIDERS = {
  "cognito": {
    "primary": true,
    "post_auth_type": "Authorization",
    "client_id": "${COGNITO_CLIENT_ID}",
    "client_secret": "${COGNITO_CLIENT_SECRET}",
    "local_oauth_name": "cognito",
    "local_authorize_path": "/authorize",
    "local_token_path": "/access_token",
    "provider_url": "${COGNITO_DOMAIN}",
    "provider_authorize_path": "/login",
    "provider_token_path": "/oauth2/token",
    "provider_state_key": "STATE",
    "querystring_parameter_key": "sessiontoken",
    "scopes": "openid+email"
  },
  "github": {
      "post_auth_type": "Parameter",
      "client_id": "${GITHUB_CLIENT_ID}",
      "client_secret": "${GITHUB_CLIENT_SECRET}",
      "local_oauth_name": "github",
      "local_authorize_path": "/authorize",
      "local_token_path": "/access_token",
      "provider_url": "https://github.com",
      "provider_authorize_path": "/login/oauth/authorize",
      "provider_token_path": "/login/oauth/access_token",
      "provider_state_key": "state",
      "querystring_parameter_key": "githubtoken",
      "scopes": "public_repo+read:user"
  }
}
